---
import Contact from "@components/Contact.astro";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  title="Atelier PAR"
  description="Atelier organisé lors de la conférence IHM 2025."
>
  <Container>
    <section class="animate pb-14">
      <div class="flex flex-wrap gap-y-5 flex-col items-start justify-between">
        <h5 class="font-semibold text-black dark:text-white">
          Atelier sur la réalité augmentée permanente
        </h5>
        <h6>4 novembre 2025</h6>
        <div class="flex justify-center w-full">
          <div class="w-1/3">
            <img src="/favicon-par-cute.png" />
          </div>
        </div>
        <p class="animate text-justify">
          À mesure que nous nous dirigeons vers un monde informatique plus
          omniprésent, le concept de réalité augmentée permanente (PAR),
          pourrait conduire à une prochaine évolution majeure de la relation
          entre les humains, l'informatique et le monde. L'expérience d'un monde
          augmenté en continu peut avoir des avantages et des conséquences
          indésirables sur la vie des utilisateurs, et soulève de nombreuses
          questions dans de multiples domaines. Dans cet atelier, nous
          souhaitons rassembler toute personne préoccupée ou enthousiaste par
          cette problématique. L’objectif est de faire émerger de l’intelligence
          collective les défis qu’il reste à résoudre pour permettre
          l’implémentation de ces technologies dans la vie commune, mais
          également d’en définir les garde-fous nécessaires. L’ensemble de ces
          éléments seront ensuite regroupés par catégories pour définir un
          ensemble de futurs grands axes de recherche autour de la réalité
          augmentée permanente.
        </p>
        <p class="animate text-justify">
          L'atelier se déroulera à Toulouse, en France, le 4 novembre 2025, lors
          de la conférence <a
            href="https://ihm2025.afihm.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 hover:underline">IHM 2025</a
          >.
        </p>
      </div>
    </section>

    <section class="animate pb-14">
      <div class="flex flex-wrap gap-y-5 items-center justify-between">
        <h5 class="font-semibold text-black dark:text-white">Objectif</h5>
        <p class="animate text-justify">
          L’objectif de cet atelier est de rassembler des chercheurs et des
          praticiens de différents domaines pour discuter des défis et des
          opportunités liés à la réalité augmentée permanente (PAR). Nous
          souhaitons explorer les implications interdisciplinaires de cette
          technologie, y compris sociales, éthiques et techniques, ainsi que son
          impact potentiel sur la vie quotidienne. En réunissant des experts de
          divers horizons, nous espérons identifier les questions clés qui
          doivent être abordées pour garantir une adoption responsable et
          bénéfique de la PAR.
        </p>
      </div>
    </section>

    <section class="animate pb-14">
      <div class="flex flex-wrap gap-y-5 items-center justify-between">
        <h5 class="font-semibold text-black dark:text-white">Programme</h5>
        <p class="animate text-justify w-full">
          <ul class="w-full">
            <li class="flex justify-between"><b>9h</b> Acceuil</li>
            <li class="flex justify-between">
              <b>9h30</b> Présentation des participants
            </li>
            <li class="flex justify-between"><b>12h</b> Repas</li>
            <li class="flex justify-between"><b>13h</b> Table de discussion</li>
            <li class="flex justify-between">
              <b>16h</b> Présentation des résultats
            </li>
          </ul>
          <p>Des pauses de 10 minutes sont prévues à 10h30, 14h30 et 16h.</p>
        </p>
      </div>
    </section>

    <section class="animate pb-14" id="participation">
      <div class="flex flex-wrap gap-y-5 items-center justify-between">
        <h5 class="font-semibold text-black dark:text-white">Participation</h5>
        <a
          class="relative group w-fit flex pl-3 pr-3 py-1.5 flex-nowrap rounded border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white"
          href="https://forms.office.com/e/zbtFw20rGc"
          target="_blank"
        >
          Formulaire d'inscription
        </a>
        <p class="animate text-justify w-full">
          Les inscriptions au workshop se font via le formulaire ci-dessus.
        </p>
        <p class="animate text-justify w-full">
          Il vous est également possible de soumettre un article de 2 pages
          reprenant votre recherche et votre opinion sur le sujet. Celui-ci sera
          repris publiquement sur ce site web, et ce, sans processus de revue
          par des pairs. La date limite de soumission sera disponible
          prochainement.
        </p>
      </div>
    </section>

    <section class="animate pb-14">
      <div class="flex flex-wrap gap-y-5 items-start justify-between">
        <h5 class="font-semibold text-black dark:text-white">Organisation</h5>
        <!-- <div class="flex justify-center w-full"> -->
        <Contact mail="maxime.cauz@unamur.be" />
        <!-- </div> -->
        <ul class="animate list-disc pl-6 w-full">
          <li>
            <a
              href="https://www.unamur.be/en/profil/mcauz"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-500 hover:underline"
            >
              Maxime Cauz
            </a>
          </li>
          <li>
            <a
              href="https://www.unamur.be/en/profil/ehallaer"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-500 hover:underline"
            >
              Élise Hallaert
            </a>
          </li>
          <li>
            <a
              href="https://www.unamur.be/en/profil/tsepton"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-500 hover:underline"
            >
              Thibaut Septon
            </a>
          </li>
          <li>
            <a
              href="https://www.unamur.be/en/profil/thelecle"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-500 hover:underline"
            >
              Théo Leclercq
            </a>
          </li>
          <li>
            <a
              href="https://www.unamur.be/en/profil/bdumas"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-500 hover:underline"
            >
              Bruno Dumas
            </a>
          </li>
        </ul>
      </div>
    </section>
  </Container>
</PageLayout>
